services:
  ts-rr-test:
    image: tailscale/tailscale:latest
    container_name: ts-rr-test
    hostname: rr-test
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_SERVE_CONFIG=/config/tailscale.json
    volumes:
      - ${PWD}/docker/tailscale/:/config/
      - ${PWD}/ts-authkey-test/state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: articulate-demo-nginx
    volumes:
      - ${PWD}/:/app
      - ${PWD}/docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    network_mode: service:ts-rr-test

  php:
    build:
      dockerfile: docker/Dockerfile
      context: .
    volumes:
      - ${PWD}/:/app
      - ${PWD}/docker/php.ini:/usr/local/etc/php/conf.d/xdebug.ini
    network_mode: service:ts-rr-test
    environment:
      - PHP_IDE_CONFIG=serverName=orm
    depends_on:
      - mysql

  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  pgsql:
    image: postgres
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - pgsql_data:/var/lib/postgresql/data

volumes:
  mysql_data:
  pgsql_data:

